body {
    
    background-color: #ffdbb7;
}

/* Top Section */
.div01 {
    text-align: center;
    background-color: #faffeb;
    width: 98vw;
    height:50vh ;
}

.div01-img {

    border-radius: 20px;
    border: 3px solid #a37d5b;
    width:30vw;
    height: 30vh;
}


/* Coffee Types Section */
.div03 {
    width: 50vw;
    height: 20vh;
    margin: auto;
}

h2 {
    text-align: center;
    color: #201912;
}

.div04 {
    background-color: #fff;
    border: 2px solid #6d3e15;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 30px;

}
.div04-img {
    border: 3px solid #a37d5b;
    border-radius: 20px;

    
}

.box h3 {
    color: #201912;
}

.box p {
    color: rgb(66, 9, 9);
}